<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Role</th>
      <th>Change Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Editar rol', user_path(user), class: 'btn btn-sm btn-success', method: :put %></td>
        <td>
          <%= link_to 'Eliminar', user_path(user), method: :delete, data: { confirm: 'Estás seguro que deseas eliminar este usuario?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
